<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540351778094-lcu0dtcreqmgnk3jmdpjd4slcoh4un96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540351778094-lcu0dtcreqmgnk3jmdpjd4slcoh4un96</string>
	<key>API_KEY</key>
	<string>AIzaSyAB-b1tnQsSnvs7hz_XC-qcvWNHfYN9kjw</string>
	<key>GCM_SENDER_ID</key>
	<string>540351778094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shenmali.Tracker</string>
	<key>PROJECT_ID</key>
	<string>tracker-6c115</string>
	<key>STORAGE_BUCKET</key>
	<string>tracker-6c115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540351778094:ios:296a8c0765a61eaedcfebf</string>
</dict>
</plist>